{% extends 'layout.html.twig' %}
{% block title %}Meme{% endblock %}
{% block body %}
    <div class="content">

        <div class="bann w-100 text-center py-5">
            <h1 class="green pulpo">Meme</h1>

            <div class="single d-flex card mb-3">
                <div class="card-body d-flex flex-column align-items-center">
                    <div href="list-memes/view?id={{ meme.id }}" class="single-meme-link d-flex flex-column align-items-center justify-content-center">
                        <div class="thumbnail" style="background-image: url('{{ meme.img }}')"></div>
                        <div class="pulpo author pt-1">poster par {{ meme.author }}</div>
                    </div>
                </div>
                <div>
                    <h3 class="green pulpo">Commentaires</h3>
                    <ul class="list-group comment">
                        {% for comment in comments %}
                            <li class="green border-none list-group-item"><b class="uppercase pulpo">{{ comment.author }}</b> : {{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                    <div class="form-add-comment">
                        <h5 class="green pulpo">Ajouter une commentaire</h5>
                        <form action="view?id={{ meme.id }}" method="post">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="author" name="author" placeholder="auteur">
                            </div>
                            <div class="mb-3">
                                <textarea type="text" class="form-control" id="comment" name="comment" placeholder="commenter le meme"></textarea>
                            </div>
                            <button id="addComment" name="addComment" type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

