{% extends 'layout.html.twig' %}
{% block title %}Meme{% endblock %}
{% block body %}
    <div class="content">

        <div class="bann w-100 text-center py-5">
            <h1 class="green pulpo">Meme</h1>

            <div class="single d-flex card mb-3">
                <div class="card-body d-flex flex-column align-items-center">
                    <a href="list-memes/view?id={{ meme.id }}" class="single-meme-link d-flex flex-column align-items-center justify-content-center">
                        <div class="thumbnail" style="background-image: url('{{ meme.img }}')"></div>
                        <div class="pulpo author pt-1">poster par {{ meme.author }}</div>
                    </a>
                </div>
                <div>
                    <h3 class="green pulpo">Commentaires</h3>
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item"><b class="uppercase pulpo">{{ comment.author }}</b> : {{ comment.comment }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

